ul {
    list-style-type:none;
    margin:0;
    padding:0;
    width:200px;
    background-color: burlywood;
    height:500px ;
    overflow: auto;
}


li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;

    
}

li a:hover {
background-color: darkblue;
    color:white;
    
}

section {
    text-align: center;
}

footer {
    box-sizing: border-box;
    border: 5px green;
        width: 80%;
}